body {
  /* height: 100vh; */
  background-image: url("../data/images/wallpaperflare.com_wallpaper.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}
* {
  margin: 0;
  padding: 0;
}
/* =======custom  scrollbar======== */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* background-color: gray; */
}
/* =======video background======== */
.video-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input{
  color:#fff ;
}

/* =======my app container======== */

.Mycontainer {
  overflow: hidden;
  position: relative;
  backdrop-filter: blur(20px);
  width: 87%;
  min-height: 750px;
  max-height: 800px;
  margin: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: white;
  padding: 0px 10px;
  background-color: rgba(16 18 27 / 40%);
}


/* ======= header ======== */
.img {
  width: 40px;
  height: 40px;
  background-color: red;
  background-image: url("../data/images/myphoto.jpeg");
  background-size: cover;
  background-position: center;
}

header input {
  background-color: transparent;
  border: none;
  outline: none;
  /*background-color: rgba(16 18 27 /50%);
  */background-color: rgba(16 18 27 / 40%) !important;
  padding: 9px;
  width: 80%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* ======= nav ======== */

nav{
  /* border: 1px solid rgba(16 18 27 / 40%); */
  /* background-color: rgb(146 151 179 / 63%); */
  background-color: rgba(16 18 27 /50%);


}
nav ul li{
  display: flex;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
}


/* nav above md  */
/* .nav{
  overflow-y: scroll;

} */
.nav h4{
  color:gray;
  font-size: 13px;
}
.nav p{
  margin: 0;
  margin-left: 5px;
  color: #fff;
  padding: 5px;
}
.nav i{
  padding: 10px;
}
/* =======story ======== */
.story {
  overflow: auto;
}
.story .storyItem {
  min-width: 88px;
  height: 130px;
  /* background-color: aqua; */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-image: url("../data/images/storyes/storyImage/josh-hild-jdTdvF6fDus-unsplash.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* font-size: 2px; */
  margin-right: 5px;
  cursor: pointer;
}

.personalImg {
  position: absolute;
  display: block;
  /* background-color: red; */
  background-image: url("../data/images/storyes/storyImage/josh-hild-jdTdvF6fDus-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: 8px;
  top: 8px;
  border: 1px solid tomato;
}

.storyItem:nth-of-type(2) {
  background-image: url("../data/images/storyes/storyImage/linus-sandvide-5DIFvVwe6wk-unsplash.jpg");
}
.storyItem:nth-of-type(3) {
  background-image: url("../data/images/storyes/storyImage/jr-korpa-JKRL7ofWWAA-unsplash.jpg");
}
.storyItem:nth-of-type(4) {
  background-image: url("../data/images/storyes/storyImage/nong-v-9pw4TKvT3po-unsplash.jpg");
}
.storyItem:nth-of-type(5) {
  background-image: url("../data/images/storyes/storyImage/s-o-c-i-a-l-c-u-t-FluPNkHfCTs-unsplash.jpg");
}
.storyItem:nth-of-type(6) {
  background-image: url("../data/images/storyes/storyImage/luis-villasmil-hh3ViD0r0Rc-unsplash.jpg");
}
.storyItem:nth-of-type(7) {
  background-image: url("../data/images/storyes/storyImage/daniel-lincoln-NR705beN_CU-unsplash.jpg");
}
.storyItem:nth-of-type(8) {
  background-image: url("../data/images/storyes/storyImage/warren-wong-bh4LQHcOcxE-unsplash.jpg");
}

.storyItem:nth-of-type(2) .personalImg {
  background-image: url("../data/images/storyes/storyImage/linus-sandvide-5DIFvVwe6wk-unsplash.jpg");
}
.storyItem:nth-of-type(3) .personalImg {
  background-image: url("../data/images/storyes/storyImage/jr-korpa-JKRL7ofWWAA-unsplash.jpg");
}
.storyItem:nth-of-type(4) .personalImg {
  background-image: url("../data/images/storyes/storyImage/nong-v-9pw4TKvT3po-unsplash.jpg");
}
.storyItem:nth-of-type(5) .personalImg {
  background-image: url("../data/images/storyes/storyImage/s-o-c-i-a-l-c-u-t-FluPNkHfCTs-unsplash.jpg");
}
.storyItem:nth-of-type(6) .personalImg {
  background-image: url("../data/images/storyes/storyImage/luis-villasmil-hh3ViD0r0Rc-unsplash.jpg");
}
.storyItem:nth-of-type(7) .personalImg {
  background-image: url("../data/images/storyes/storyImage/daniel-lincoln-NR705beN_CU-unsplash.jpg");
}
.storyItem:nth-of-type(8) .personalImg {
  background-image: url("../data/images/storyes/storyImage/warren-wong-bh4LQHcOcxE-unsplash.jpg");
}

/* =======Write  Post ======== */
.writPost{
  margin: auto;
  background-color: rgba(16 18 27 / 40%);
  margin-bottom: 10px;
  width: 80%;

}
form input {
  background-color: transparent;
  border: none;
  outline: none;
}

@media( max-widht:430px ){
  .writPost .btn{
    margin: -10px !important;
  }

}

/* =======  Post ======== */
.postsContainer {
  padding: 15px 10px;
  height: 500px;
  background-color: rgba(16 18 27 / 40%);
  overflow-y: scroll;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.post {
  margin-top: 2px;
  margin-bottom: 16px;
  padding: 20px 15px;
  /* min-height: 380px; */
  /* min-height: fit-content; */

  background-color: #181818;
  border: 1px solid rgba(16 18 27 / 40%);
  background-color: rgb(146 151 179 / 13%);
  /* background-color: rgba(16 18 27 / 40%); */

  border-radius: 8px;
  transition: all 0.56s ease-in-out;
  -webkit-transition: all 0.56s ease-in-out;
  -moz-transition: all 0.56s ease-in-out;
  -ms-transition: all 0.56s ease-in-out;
  -o-transition: all 0.56s ease-in-out;
  position: relative;
  /* z-index: 3; */
  height: 480px;
  height: fit-content;
}

.post .postImage {
  width: 100%;
  height: 250px;
  background-image: url("../data/images/storyes/storyImage/daniel-lincoln-NR705beN_CU-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-color: red;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.post:nth-of-type(2) .postImage {
  background-image: url("../data/images/storyes/storyImage/josh-hild-jdTdvF6fDus-unsplash.jpg");

}
.post:nth-of-type(3) .postImage {
  background-image: url("../data/images/storyes/storyImage/linus-sandvide-5DIFvVwe6wk-unsplash.jpg");

}
.post:nth-of-type(4) .postImage {
  background-image: url("../data/images/storyes/storyImage/s-o-c-i-a-l-c-u-t-FluPNkHfCTs-unsplash.jpg");

}
.post:nth-of-type(5) .postImage {
  background-image: url("../data/images/storyes/storyImage/jurica-koletic-7YVZYZeITc8-unsplash.jpg");

}

.post .img {
  width: 45px;
  height: 46px;
  margin-top: -1px !important;
}
.post:nth-of-type(2) .img {
  background-image: url("../data/images/storyes/storyImage/jurica-koletic-7YVZYZeITc8-unsplash.jpg");

}

.post:nth-of-type(3) .img {
  background-image: url("../data/images/storyes/storyImage/linus-sandvide-5DIFvVwe6wk-unsplash.jpg");

}
.post:nth-of-type(4) .img {
  background-image: url("../data/images/storyes/storyImage/warren-wong-bh4LQHcOcxE-unsplash.jpg");

}

.post:nth-of-type(5) .img {
  background-image: url("../data/images/storyes/storyImage/jr-korpa-JKRL7ofWWAA-unsplash.jpg");

}
.post .description .icons {
  width: 100%;
  /* background-color: red; */
}
.post .description .icons li {
  margin-right: 10px;
  margin-left: 5px;
}
.post .description .icons li:last-child {
  /* background-color: red;  */
  margin-left: auto;
  /* text-align: end; */
}
.post .description .fansImages .fans {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.post .description .fansImages img {
  width: 100%; 
  height: 100%;
    object-fit: cover;
}


/* messages-request */
.messages_request_container{
  height: 700px;
  overflow-y: scroll;
}
.messages{
  background-color: rgba(16 18 27 /50%);
  border: 1px solid rgba(16 18 27 / 40%);
  background-color: rgb(146 151 179 / 13%);
  overflow-x: scroll;

}
.messages .mesaageForm{
  padding: 10px;
  position: relative;
  background-color: rgba(16 18 27 /50%);

}
.messages .mesaageForm input{
  background-color: transparent;

  border: none;
  outline: none;
}
.messages .mesaageNav ul{
  position: relative;
  z-index: 1;
}
.messages .mesaageNav ul li{
  cursor: pointer;
  transition:all 1s;
  padding: 1px;
  width: 100%;
  text-align: center;
border-bottom: 3px solid transparent;

  color:rgb(146 151 179 / 90%);
  -webkit-transition:all 1s;
  -moz-transition:all 1s;
  -ms-transition:all 1s;
  -o-transition:all 1s;
}

/* border-bottom: 3px solid gold;} */
.messages .mesaageNav ul li:hover,.messages .mesaageNav ul li.active{
  /* border-bottom-color: rgb(146 151 179 / 13%);
  border-bottom-color: rgba(16 18 27 / 40%); */
  border-bottom-color: rgb(146 151 179 / 90%);



}

.messages .mesaageNav ul::after{
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: rgb(105, 103, 103);
  bottom: 0;
  /* border: 0 */
  left: 0;
  z-index: -1;

}
.mesaageItem .messageContent{
  font-size: 11px;
  color:#ddd;
  margin-top: 4px !important;
  /* font-weight: bold; */
}
.mesaageItem:nth-of-type(odd) .messageContent{
  font-weight: bold;
  /* color:red */
  color: #fff;
  font-size: 12px;


}

.mesaageItem:nth-of-type(2) .img {
  background-image: url("../data/images/storyes/storyImage/jurica-koletic-7YVZYZeITc8-unsplash.jpg");

}

.mesaageItem:nth-of-type(3) .img {
  background-image: url("../data/images/storyes/storyImage/linus-sandvide-5DIFvVwe6wk-unsplash.jpg");

}
.mesaageItem:nth-of-type(4) .img {
  background-image: url("../data/images/storyes/storyImage/warren-wong-bh4LQHcOcxE-unsplash.jpg");

}

.mesaageItem:nth-of-type(5) .img {
  background-image: url("../data/images/storyes/storyImage/jr-korpa-JKRL7ofWWAA-unsplash.jpg");

}


/*=== requests ====  */
.requests .requestContaine{
  /* background-color: red; */
  border: 1px solid rgba(16 18 27 / 40%);
  background-color: rgb(146 151 179 / 13%);
  padding: 17px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.requests .requestContaine .numberOfFriendes{
  font-size: 11px;
  color: #ddd;
}
.requests .requestContaine .btn{
  width: 100px;
  text-transform: capitalize;
  border-radius: 15px;
  padding: 4px 25px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-color: rgb(146 151 179 / 13%);

}

.request:nth-of-type(1) .img {
  background-image: url("../data/images/storyes/storyImage/josh-hild-jdTdvF6fDus-unsplash.jpg");

}
.request:nth-of-type(2) .img {
  background-image: url("../data/images/storyes/storyImage/linus-sandvide-5DIFvVwe6wk-unsplash.jpg");

}
.request:nth-of-type(3) .img {
  background-image: url("../data/images/storyes/storyImage/s-o-c-i-a-l-c-u-t-FluPNkHfCTs-unsplash.jpg");

}
.request:nth-of-type(4) .img {
  background-image: url("../data/images/storyes/storyImage/jurica-koletic-7YVZYZeITc8-unsplash.jpg");

}


@media (max-width:767px) {
  
header{
  justify-content: space-between;
}
  .writPost{
   justify-content: space-between !important;
   padding: 2px 15px ;
    width: 100%;
  
  }
  .navContainer{
    bottom: 30px;right: 0; 
    position: absolute;
    
  }
  .navContainer nav
  {
    width: 60%;margin: auto;
  }

  
}
/* @media (min-width:768px) { */

  
@media (min-width:768px) {

  /* ==== header ====== */
  .imgBtnContainer{
    margin-left: auto;
    display: flex;
    justify-content: center;
  }
  
  .Mycontainer{
  width: 90%;

  }
  .navContainer{ 
     position: static;
     padding: 0;
     border-right: 1px solid ;
     margin: 0;
     background-color: transparent;
     
    

}
.navContainer nav {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  background-color: transparent;
  height: 100%;

}
.navContainer nav ul
{
  /* height: 100%; */
  flex-direction: column;
}

.story-writpost-post{
  padding: 0px;
}
.story{
  /* padding: 0px 12px; */
  margin-left: 10px;
}

}

@media (min-width:992px) and (max-width:1200px)  {
  header{
    justify-content: space-between;
  }
  header input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100% !important;
    /* background-color: red !important; */
  }
  /* ===== nav ====== */
  .navContainer nav ul{
    align-items: flex-start !important;
  }
}

@media (min-width:1200px) {
  header input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 90% !important;
    /* background-color: red !important; */
  }
  .circls{
    /* text-align: center; */
    margin-left: 30px;
  }
  .circls span{
   display: inline-block;
   background-color: green;
   width: 15px;
   height: 15px;
   border-radius:50%;
   -webkit-border-radius:50%;
   -moz-border-radius:50%;
   -ms-border-radius:50%;
   -o-border-radius:50%;
   text-align: center;
   margin-left: 4px;
}

.circls span:nth-of-type(1){
  background-color:#f96057 ;
}

.circls span:nth-of-type(2){
  background-color:#f8ce52 ;
}
.circls span:nth-of-type(3){
  background-color:#5fcf65 ;
}
.BeboSocialContainer {
  margin-left: 73px;
}
}
  /* 
      background-color: #f96057;
    border-radius: 50%;
    box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
  */

